.nav-container {
  max-width: 1264px; padding: 8px 24px; border-width: 1px; border-style: solid; border-color: rgb(209, 213, 219); border-radius: 16px; backdrop-filter: blur(16px); background: rgba(250, 250, 250, 0.5);
}